* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: black;
}

.users_section {
  display: flex;
  flex-direction: column;
}

.users_container {
  margin: 0.5%;
  display: flex;
  align-items: center;
  margin-right: 10%;
  margin-left: 10%;
}

.u_info_contatiner {
  border: 3px solid black;
  margin-left: 10%;
  width: 80%;
}

.user_info {
  display: flex;
  margin: 0%;
  justify-content: space-between;
}

img {
  border: 3px solid black;
  width: 9rem;
  height: 9rem;
}

.u_name {
  font-size: 2.3rem;
  margin-left: 10%;
  font-weight: 600;
}

.posts_counter {
  font-size: 1.2rem;
  align-self: end;
  margin-right: 10%;
  font-weight: 100;
}

.show_info {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}

.bio,
.comment,
.post_comment {
  border: 3px solid black;
  margin-top: 1.5%;
  padding-left: 1%;
  padding-right: 1%;
}

.counters {
  margin-top: 0%;
  margin-left: 85%;
}

.post_text {
  margin-bottom: 0%;
}

button {
  background-color: white;
  font-size: large;
  padding: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
  box-shadow: 5px 5px;
}

.comment {
  margin: 0%;
  margin-bottom: 1.5%;
}

.login {
  text-decoration: none;
  border: 3px solid black;
}

.sign-up {
  width: 35%;
  text-decoration: none;
  border: 3px solid black;
}

.log-in-box {
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: center;
  align-items: center;
  color: black;
}

.field1 {
  width: 100%;
}

input {
  font-size: 1.5em;
  font-weight: 700;
  color: black;
  margin: 2%;
  border: 3px solid black;
}

.form-btn {
  background-color: white;
  width: 100%;
}

.remember {
  display: flex;
  color: black;
  width: 100%;
}

.new_user {
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#user_email {
  width: 100%;
}

.actions,
.actions1 {
  width: 100%;
}

.actions1 input {
  width: 100%;
}

#user_bio {
  font-size: 1.5em;
  font-weight: 700;
  color: black;
  margin: 2%;
  border: 3px solid black;
}
